*.cache
*.csproj.dtbcache.json
*.exe
*.exe.config
*.lock
*.pdb
*.suo
*.txt
*.vsidx
.NETFramework,Version=v4.8.AssemblyAttributes.cs
CodeChunks.db
DocumentLayout.backup.json
DocumentLayout.json
SemanticSymbols.db
SemanticSymbols.db-shm
SemanticSymbols.db-wal
fileList.bin
